* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2rem;
}

div{
    background-color: #3f96ff;
    display: inline-block;
    border-radius: 25px;
    overflow: hidden;
}

#container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 650px;
    background-color: #1f52ff;
    padding: 17px 16px 16px 20px;
    margin: 8rem;
}

#showAllNumber{
    position: relative;
    width: 171px;
    height: 269px;
    padding: 8px;
    font-size: 1.5rem;
    line-height: 2.3rem;
}

#explanation{
    background-color: #1f52ff;
    width: 171px;
    height: 269px;
    border: 2px solid #3f96ff;
    font-size: 1.2rem;
    padding: 8px;
}

#start{
    background-color: #3f96ff;
    width: 108px;
    height: 48px;
    border-radius: 18px;
}

#image{
    border-radius: 25px;
}

#numberGiven{
    width: 121px;
    border-radius: 5px;
}

#gauche{
    width: 39%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

#droite{
    width: 59%;
}

@media screen and (max-width: 600px){
    #explanation{
        display: none;
    }
    #container{
        margin: 0;
        width: 100%;
    }
    #gauche{
        width: 59%;
    }
    #droite{
        width: 39%;
    }

}