* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-size: 2rem;
}

div{
    background-color: #3f96ff;
    display: inline-block;
    border-radius: 25px;
}

#container{
    background-color: #1f52ff;
    width: 650px;
    height: 301px;
    padding: 17px 16px 16px 20px;
    margin: 8rem;
}

#showAllNumber{
    position: relative;
    width: 171px;
    height: 269px;
    padding: 8px;
    font-size: 1.5rem;
    line-height: 2.3rem;
}

#explanation{
    position: relative;
    background-color: #1f52ff;
    width: 171px;
    height: 269px;
    border: 2px solid #3f96ff;
    font-size: 1.3rem;
    padding: 8px;
}

#start{
    position: relative;
    background-color: #3f96ff;
    width: 108px;
    height: 48px;
    bottom: 43px;
    border-radius: 18px;
}

#image{
    position: relative;
    border-radius: 25px;
    bottom: 43px;
}

#numberGiven{
    position: relative;
    width: 121px;
    bottom: 43px;
    border-radius: 5px;
}